.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
label{
    display: block;
}
.error{
    color: red;
    font-size: 12px;
   /* position: relative;
    top:-10px;
    right: 100px;*/
}

.label-dis{
    display: flex;
    justify-content: space-between;
}
.label-dis b{
    color: orange;
}
