<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.newspaper.app.controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>LayoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SessionInitFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Account/Profile</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserAuthFilter</filter-name>
        <url-pattern>/Profile/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WriterAuthFilter</filter-name>
        <url-pattern>/upload/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditorAuthFilter</filter-name>
        <url-pattern>/editor/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>

</web-app>